* { margin: 0; padding: 0; }
a { text-decoration: none; }
img, video { vertical-align: top;}
body {line-height: 1; overflow: hidden; font-family: 'NanumSquare', sans-serif; margin: 0 auto; }
/*300 400 700 800*/
h1, h2, h3, h4, h5, h6 { font-size: 100%;} 
ol, ul, li { list-style: none;}

.wrap {
    color:#FFF;
    width: 95%;
    margin: 0 auto;
    > div {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        > div {
            overflow-y: hidden;
            height: 80px;
        }
        > h3 {
            text-align: center;
            color:#000;
            font-weight: 800;
            font-size: 25px;
            text-shadow: 1px 1px #0003;
        } 
    }

    > label {
        display: block;
        margin-bottom: 15px;
        color: #1155FE;
        font-weight: 700;
    }
    > input {
        display: block;
        width:100%;
        height: 30px;
        margin-bottom: 30px;
        border: 2px solid #1155FE;
        background-color: #FFF;
        &::placeholder {
            text-indent: 3px;
        }
        &:focus {
            border: 2px solid #1155FE00;
            outline: 3px solid #d35bf1;
        }
    }
    > button {
        display:block;
        text-align: center;
        margin: 50px auto 0;
        width:50%;
        padding: 15px 20px;
        border: none;
        background:linear-gradient(to right, #1155FE ,#d35bf1 70%);
        background-blend-mode: multiply;
        background-color: #000;
        color:#FFF;
        font-weight: 600;
        font-size: 15px;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            background-color: #0000;
        }
    }
    > p {
        font-weight: 600;
        font-size: 18px;
        color:#000;
        line-height: 60px;
        text-align: center;
        > span:first-child{
            color:#1155FE;
        }
        &.err_msg {
            font-size: 15px;
            width: 80%;
            margin: 0 auto;
            line-height: 150%;
        }
    }
    > h4 {
        color:#000;
        font-size: 120px;
        font-weight: 400;
        font-family: 'Libre Barcode EAN13 Text', cursive;
        text-align: center;
        padding: 30px 0px;
        margin: 50px 80px;
        border: 3px solid #1155FE;
    }
    a {
        background:linear-gradient(to right, #1155FE ,#d35bf1 70%);
        color: #FFF;
        display: inline-block;
        line-height: 200%;
        padding: 0 10px;
    }
}