<%- include("header", {title:"AI :: 참가기업 :: 참가안내", cssFiles:["subStyle2.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>스폰서쉽 프로그램</h2>
                    <ul class="subMenu">
                        <li class="on"><a href="/exhibitors/intro">참가안내</a></li>
                        <li><a href="/exhibitors/sponserships">스폰서쉽 프로그램</a></li>
                        <li>
                            <% if (login) { %>
                                <a href="/logout">로그아웃</a>
                            <% } else { %>
                                <a href="/login">로그인</a>
                            <% } %> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>참가안내</h3>
                    <div>
                        <h4>참가 절차</h4>
                        <div class="stepBoxWrap">
                            <div class="stepBox">
                                <div>STEP 1</div>
                                <p><span style="display: inline;">기업 <a href="Login.html">회원가입</a> 후</span>홈페이지<br/> 온라인 신청</p>
                            </div>
                            <div class="stepBox">
                                <div>STEP 2</div>
                                <p>참가 신청서 접수<br/>1주일 이내<br/>참가비의 50% 계약금 입금</p>
                            </div>
                            <div class="stepBox">
                                <div>STEP 3</div>
                                <p>잔금 납부<br/>2023년<br/>3월 10일(금)까지</p>
                            </div>
                            <div class="stepBox">
                                <div>STEP 4</div>
                                <p>부대서비스 신청 / 사용료 납부<br/>2023년<br/>4월 14일(금)까지</p>
                            </div>
                            <div class="stepBox">
                                <div>STEP 5</div>
                                <p>전시회 개막<br/> 2023년<br/> 5월 10일(수) ~ 12일(금)</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4>부스 참가비(VAT별도)</h4>
                        <table class="booth_fee_tbl">
                            <thead>
                                <tr>
                                    <th colspan="2" style="width:30%">부스 타입</th>
                                    <th style="width:15%">공급가</th>
                                    <th style="width:55%">제공 내역</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="width:15%">독립</td>
                                    <td>3m×3m=9㎡</td>
                                    <td>3,200,000 / 부스</td>
                                    <td rowspan="2"><div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;"><p style="width:50%; display: flex; justify-content: center;">전시면적만 제공<br>(2부스 이상)</p><img src="/imgs/c1_booth_1.png"></div></td>

                                </tr>
                                <tr>
                                    <td>4m×3m = 12㎡</td>
                                    <td>3,200,000 / 부스</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"  style="width:15%">조립</td>
                                    <td>3m×3m=9㎡</td>
                                    <td>3,500,000 / 부스</td>
                                    <td rowspan="2"><div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;"><p style="width:50%;">전시면적만 제공<br>(2부스 이상)</p><img src="/imgs/c1_booth_2.png"></div></td>
                                </tr>
                                <tr>
                                    <td>4m×3m = 12㎡</td>
                                    <td>4,600,000 / 부스</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"  style="width:15%; height:300px;">스페셜 패키지</td>
                                    <td>2m×2m = 4㎡</td>
                                    <td>3,100,000 / 부스</td>
                                    <td rowspan="2">
                                        <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                                            <img src="/imgs/c1_booth_3.jpg">
                                            <p>
                                            부스시공, 상호간판, 파이텍스, 조명, 콘센트, 안내데스크 및 의자 1set(부스당 1조)<br/>
                                            벽체 그래픽 시공(디자인 파일 기업 측 제공), 모니터(기본제공 없음, 필요 시 추가 신청)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4m×3m = 12㎡<br>
                                        Type A /B</td>
                                    <td>6,500,000 / 부스</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>