<%- include("header", {title:"AI :: 참가기업 :: 스폰서쉽 프로그램", cssFiles:["subStyle2.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>스폰서쉽 프로그램</h2>
                    <ul class="subMenu">
                        <li><a href="/exhibitors/intro">참가안내</a></li>
                        <li class="on"><a href="/exhibitors/sponserships">스폰서쉽 프로그램</a></li>
                        <li>
                            <% if (login) { %>
                                <a href="/logout">로그아웃</a>
                            <% } else { %>
                                <a href="/login">로그인</a>
                            <% } %> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>스폰서쉽 프로그램</h3>
                    <div>
                        <h6 style="line-height: 40px; margin-bottom: 30px;">단순 부스 참가를 넘어 <br/>참가기업의 AI EXPO KOREA 참가를 더욱 빛나게 할 맞춤형 온·오프라인 마케팅 프로모션</h6>
                        <h4>기업의 Next Level을 위한 초격차 패키지!</h4>
                        <table class="promo_fee_tbl">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>프로모션 종류</th>
                                    <th>Platinum<br/>
                                        ￦50,000,000</th>
                                    <th>Gold<br/>
                                        ￦30,000,000</th>
                                    <th>Silver<br/>
                                        ￦20,000,000</th>
                                    <th>Bronze<br/>
                                        ￦15,000,000</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3*3 독립부스 제공</td>
                                    <td>8부스</td>
                                    <td>6부스</td>
                                    <td>4부스</td>
                                    <td>4부스</td>
                                    <td rowspan="9" style="width:10%; line-height: 30px; padding: 0px 25px; text-align: center;">Level1. 일반 기업 추가 신청 가능</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>홈페이지 로고 노출</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>뉴스레터 배너 광고</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>모바일 초청장 로고 노출</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>전시장 내부 천정배너</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>입구현판, 현황판 로고 노출</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>부스 배치도 로고 표기	</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>참관객 DB 스캐너</td>
                                    <td>2대</td>
                                    <td>2대</td>
                                    <td>1대</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>온라인 쇼가이드 광고</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>스폰서 부스 바닥 사인물	</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>-</td>
                                    <td rowspan="8" style="width:10%; line-height: 30px; padding: 0px 25px; text-align: center;">Level2. 스폰서쉽 전용 혜택 (일반 기업 신청 불가)</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>전시장 입구 홍보물 배치	</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>등록부스 로고 노출</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>출입증 내지 로고 노출</td>
                                    <td>○</td>
                                    <td>○</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>로비 이벤트 부스 배치</td>
                                    <td>○</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>참관객 출입증 뒷면 기업 광고	</td>
                                    <td>○</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>스폰서 기업 전용 유인 등록대 1구	</td>
                                    <td>○</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>참관객 출입증 랜야드 제작</td>
                                    <td colspan="4"><p style="line-height: 30px;">자세한 사항 스폰서십 프로그램 매뉴얼 참조<br>
                                        상세자료 요청 문의 : 02-2284-0021 l sales@aiexpo.co.kr</p></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mobile_error_msg">
                            <p>자세한 사항은 브로슈어를 참조하시거나</p>
                            <a href="/imgs/AI EXPO KOREA 2023_Participation_Manual.pdf">브로슈어 다운로드</a>
                            <p>PC 버전 사이트에서도 확인하실 수 있습니다.</p>
                            <p>상세자료 요청 문의 : 02-2284-0021 | sales@aiexpo.co.kr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>