<%- include("header", {title:"AI :: 참관객 :: 온라인 사전등록", cssFiles:["subStyle3.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js", "open.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>참관객</h2>
                    <ul class="subMenu">
                        <li><a href="/visitors/info">참관안내</a></li>
                        <li class="on"><a href="/visitors/pre-regist">온라인 사전등록</a></li>
                        <li><a href="/visitors/location">오시는 길</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>온라인 사전등록</h3>
                    <div class="preRegistNotice">
                        <div class="headlineWrap">
                            <img src="/imgs/icon_info.png">
                            <h3>사전등록 안내</h3> 
                        </div>
                        <ul>
                            <li>▶ 온라인 사전등록을 하시면, 현장에서 별도의 등록절차 없이 간편하게 입장하실 수 있습니다.</li>
                            <li>▶ 사전등록자는 AI EXPO 전시기간 (5월 10일 ~ 12일) 중 1일간 무료입장 가능합니다.</li>
                            <li>▶ 사전등록 기간 : 2023년 5월 7일(일) 24:00시 까지</li>
                            <li>▶ 본 전시회는 비즈니스(B2B) 전시회로 고등학생 이하 입장을 엄격히 제한하고 있습니다.</li>
                            <li>▶ 사전 등록 정보는 AI EXPO KOREA 2024 행사 안내 및 참가업체 소개용으로 사용됩니다.</li>
                            <li>▶ Business Day / Public Day 행사일자별 참관대상이 다릅니다. <a href="/visitors/info">+ 더 알아보기</a></li>
                            <li>▶ 사전등록자 입장 절차를 준수해주셔야 합니다. <a href="/visitors/info">+ 더 알아보기</a></li>
                        </ul>
                    </div>
                    <div>
                        <div class="preRegistWrap">
                            <div>
                                <div>
                                    <img src="/imgs/icon_apply.png" style="height: 65px;"><h6>사전등록 신청</h6>
                                </div>
                                <a class="preRegistBtn">신청하기</a>
                            </div>
                            <div>
                                <div style="padding-top: 5px; margin-bottom: 40px;">
                                    <img src="/imgs/icon_checklist.png"><h6>사전등록 확인</h6>
                                </div>
                                <a class="prCodeFindBtn">확인하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>