<%- include("header", {title:"AI :: 참관객 :: 온라인 사전등록", cssFiles:["subStyle3.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js", "region.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>참관객</h2>
                    <ul class="subMenu">
                        <li><a href="/visitors/info">참관안내</a></li>
                        <li><a href="/visitors/pre-regist">온라인 사전등록</a></li>
                        <li class="on"><a href="/visitors/location">오시는 길</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>오시는 길</h3>
                    <div class="map" id="map"></div>
                    <div class="map_ctrl">
                        <div class="btns">
                            <input type="checkbox" id="roadviewToggle" onclick="setOverlayMapTypeId()" checked>
                            <label for="roadviewToggle" id="roadviewText">로드뷰 숨기기</label>
                        </div>
                        <div class="btns">
                            <input type="checkbox" id="trafficToggle" onclick="setOverlayMapTypeId()" checked>
                            <label for="trafficToggle" id="trafficText">교통정보 숨기기</label>
                        </div>
                        <a href="https://map.kakao.com/link/to/코엑스 D홀,37.5116828,127.059151" target="_blank">길찾기</a>         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>