<%- include("header", {title:"AI :: 참관객 :: 온라인 사전등록", cssFiles:["subStyle3.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>참관객</h2>
                    <ul class="subMenu">
                        <li><a href="/visitors/info">참관안내</a></li>
                        <li><a href="/visitors/pre-regist">온라인 사전등록</a></li>
                        <li class="on"><a href="/visitors/location">오시는 길</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>오시는 길</h3>
                    <div>
                    <!-- 카카오맵 들어갈 자리-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>