<%- include("header", {title:"AI :: 미디어 :: 공지사항", cssFiles:["NewsStyle.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js", "isotope.pkgd.min.js", "photoIso.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>미디어</h2>
                    <ul class="subMenu">
                        <li><a href="/media/news">공지사항</a></li>
                        <li class="on"><a href="/media/gallery">갤러리</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>갤러리</h3>
                    <div>
                        <ul class="PhotoMenus">
                            <li data-photos="*" class="on"><a href="#">All</a></li>
                            <li data-photos=".news"><a href="#">News</a></li>
                            <li data-photos=".partners"><a href="#">Partners</a></li>
                        </ul>
                        <div class="PhotoWrap">
                            <div class="all news">
                                <img src="/imgs/isoimgs/partners07.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/partners06.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/news01.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all news">
                                <img src="/imgs/isoimgs/news04.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/news02.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all news">
                                <img src="/imgs/isoimgs/news03.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/partners04.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/partners01.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all news">
                                <img src="/imgs/isoimgs/news05.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all news">
                                <img src="/imgs/isoimgs/partners02.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/partners05.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>
                            <div class="all partners">
                                <img src="/imgs/isoimgs/partners03.png">
                                <div class="hoveredWrap">
                                    <a href="#"><span class="material-symbols-outlined">add</span>More View</a>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>
