    <div id="footer">
        <div class="center">
            <div class="f_left">
                <img src="/imgs/logo_c1.png">
                <p>AI EXPO KOREA 사무국</p>

                <p><span>Tel. 02-2284-0024</span><span>Fax. 02-2284-0005</span></p>
        
                <p>E-mail. sales@aiexpo.co.kr</p>
        
                <p>(주)서울메쎄 사업자등록번호 : 120-86-90794</p>
            </div>
            <div class="f_right">
                <ul class="sns_wrap">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-comments"></i></a></li>
                </ul>
                <p>copyright @ AI EXPO 2023 KOREA</p>
            </div>
        </div>
    </div>
    <%- include("rightNavi") %>
    <%- include("mGnb") %>
</body>
</html>