<div class="mGnbBg">
    <div class="mGnbWrap">
        <div class="closeBtnWrap">
            <div class="logInOut">
                <% if (login) { %>
                    <a href="/logout">로그아웃</a>
                <% } else { %>
                    <a href="/login">로그인</a>
                <% } %> 
            </div>
            <button class="hbgMenu clicked"><!-- 반응형에서 gnb 사라지고 나타날 햄버거 메뉴 -->
                <span class="line one"></span>
                <span class="line two"></span>
                <span class="line three"></span>
            </button>
        </div>
        <ul class="mGnb">
            <li>
                <a href="#">
                    전시개요
                    <span class = "onoff">
                        <span class = "line one"> </span>
                        <span class = "line two"> </span>
                    </span>
                </a>
                <ul class="sub">
                    <li><a href="/intro/overview">행사개요</a></li>
                    <li><a href="/intro/booth-maps/SmartTech">행사장 안내</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    참가기업
                    <span class = "onoff" >
                        <span class = "line one"> </span>
                        <span class = "line two"> </span>
                    </span>
                </a>
                <ul class="sub">
                    <li><a href="/exhibitors/intro">참가안내</a></li>
                    <li><a href="/exhibitors/sponserships">스폰서쉽 프로그램</a></li>
                    <li>
                        <% if (login) { %>
                            <li><a href="/mypage">마이페이지</a></li>
                        <% } else { %>
                            <li><a href="/login">로그인</a></li>
                        <% } %> 
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    참관객
                    <span class = "onoff" >
                        <span class = "line one"> </span>
                        <span class = "line two"> </span>
                    </span>
                </a>
                <ul class="sub">
                    <li><a href="/visitors/info">참관안내</a></li>
                    <li><a href="/visitors/pre-regist">온라인 사전등록</a></li>
                    <li><a href="/visitors/location">오시는 길</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    미디어
                    <span class = "onoff" >
                        <span class = "line one"> </span>
                        <span class = "line two"> </span>
                    </span>
                </a>
                <ul class="sub">
                    <li><a href="/media/news">공지사항</a></li>
                    <li><a href="/media/gallery">갤러리</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>