<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/preRegist.css">
    <title>사전 참여 코드</title>
</head>
<body>
    <div class="wrap">
        <div>
            <div><img src="/imgs/logo_black.png"/></div>
            <h3>사전참관 코드</h3>
        </div>
        <p class="name"><span>성함 : </span><span><%- data.prName %></span></p>
        <p class="birth"><span>생년월일 : </span><span><%- data.prBirth %></span></p>
        <h4 class="barcode">8801234<%- String(data.num).padStart(5, '0') %></h4>
        <!--88012304: 공통 / 00001 개별-->
    </div>
</body>
</html>