@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: top;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "NanumSquare", sans-serif;
}

/*300 400 700 800*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ol, ul, li {
  list-style: none;
}

table {
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 0;
}

#header {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #1e1c2b;
}
#header .center {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
}
#header .center .logoWrap {
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
#header .center .gnbWrap .gnbBg {
  position: absolute;
  width: 100vw;
  height: 0;
  left: 0;
  top: 80px;
  transition: all 0.5s;
  background-color: #1e1c2b;
}
#header .center .gnbWrap .gnbBg.on {
  height: 180px;
}
#header .center .gnbWrap .gnb {
  display: flex;
}
#header .center .gnbWrap .gnb > li {
  position: relative;
  width: 160px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#header .center .gnbWrap .gnb > li:hover {
  background: linear-gradient(to right, rgba(17, 85, 254, 0.5019607843), rgba(211, 91, 241, 0.5019607843) 70%);
}
#header .center .gnbWrap .gnb > li:hover > ul {
  background: linear-gradient(to right, rgba(17, 85, 254, 0.5019607843), rgba(211, 91, 241, 0.5019607843) 70%);
}
#header .center .gnbWrap .gnb > li > a {
  display: block;
  height: 100%;
  color: #FFF;
  transition: all 0.5s;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 18px;
  transform: all 0.5s;
}
#header .center .gnbWrap .gnb > li .depth2 {
  position: absolute;
  width: 100%;
  height: 0px;
  transition: all 0.5s;
  overflow: hidden;
}
#header .center .gnbWrap .gnb > li .depth2 > li > a {
  display: block;
  font-size: 14px;
  color: #FFF;
  transition: all 0.5s;
  height: 60px;
  line-height: 60px;
  letter-spacing: 0.5px;
}
#header .center .gnbWrap .gnb > li .depth2 > li > a:hover {
  font-size: 14px;
}
#header .center .gnbWrap .gnb > li .depth2.on {
  height: 180px;
}
#header .center .userGnb {
  display: flex;
}
#header .center .userGnb > li {
  margin-left: 20px;
  transform: all 0.5s;
}
#header .center .userGnb > li > a {
  display: block;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.8);
  color: #FFF;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.5s;
  position: relative;
  filter: blur(2);
}
#header .center .userGnb > li > a::before {
  display: inline-block;
  content: "";
  background: linear-gradient(to right, #1155FE, #D35BF1 70%);
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  opacity: 0;
}
#header .center .userGnb > li:hover > a::before {
  width: 100%;
  opacity: 1;
}
#header .center .userGnb > li .hbgMenu {
  display: none;
  margin-right: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FFF;
  border-radius: 8px;
  position: relative;
  height: 50px;
  cursor: pointer;
}
#header .center .userGnb > li .hbgMenu > .line {
  position: absolute;
  display: none;
  background-color: #FFF;
  width: 70%;
  height: 5px;
  left: 50%;
  transition: all 0.5s;
}
#header .center .userGnb > li .hbgMenu > .line.one {
  top: 45%;
  transform: translate(-50%, -25%);
}
#header .center .userGnb > li .hbgMenu > .line.two {
  top: 50%;
  transform: translate(-50%, -50%);
}
#header .center .userGnb > li .hbgMenu > .line.three {
  top: 75%;
  transform: translate(-50%, -75%);
}
#header .center .userGnb > li .hbgMenu.clicked > .line {
  position: absolute;
  display: none;
  background-color: #000;
  width: 70%;
  height: 5px;
  left: 50%;
  transition: all 0.5s;
}
#header .center .userGnb > li .hbgMenu.clicked > .line.one {
  top: 50%;
  transform: translate(-50%, -25%) rotate(45deg);
}
#header .center .userGnb > li .hbgMenu.clicked > .line.two {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#header .center .userGnb > li .hbgMenu.clicked > .line.three {
  top: 50%;
  transform: translate(-50%, -75%) rotate(-45deg);
}

#container .subCont1 {
  /* 서브페이지 1) */
  display: flex;
  justify-content: center;
  background-image: url("../imgs/sub_visual_bg_4.jpg");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.2666666667);
  height: 330px;
}
#container .subCont1 .center {
  width: 67%;
  display: flex;
  justify-content: center;
}
#container .subCont1 .center .subMenuWrap {
  text-align: center;
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#container .subCont1 .center .subMenuWrap h2 {
  margin-top: 150px;
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#container .subCont1 .center .subMenuWrap .subMenu {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
}
#container .subCont1 .center .subMenuWrap .subMenu > li {
  width: 50%;
  background-color: #1e1c2b;
  transition: all 0.5s;
}
#container .subCont1 .center .subMenuWrap .subMenu > li > a {
  line-height: 60px;
  display: block;
  color: #CCC;
  transition: all 0.5s;
}
#container .subCont1 .center .subMenuWrap .subMenu > li > a:hover {
  background-color: rgba(17, 85, 254, 0.3333333333);
}
#container .subCont1 .center .subMenuWrap .subMenu > li.on > a {
  background-color: #D35BF1;
}
#container .subCont2 {
  display: flex;
  justify-content: center;
}
#container .subCont2 .center {
  width: 67%;
}
#container .subCont2 .center .subContentsWrap {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  padding: 80px 0 30px;
  border-bottom: 1px solid #CCC;
}
#container .subCont2 .center .subContentsWrap > div {
  /* 글쓰기, 수정 역할 하는 컴포넌트 */
}
#container .subCont2 .center .subContentsWrap > div.postingWrap {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap > input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 0;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap > input#title {
  font-size: 18px;
  line-height: 200%;
  display: block;
  width: 100%;
  border-bottom: 1px solid #999;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap > input#title::-moz-placeholder {
  font-family: "NanumSquare", sans-serif;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap > input#title::placeholder {
  font-family: "NanumSquare", sans-serif;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .titleWrap > input#file {
  font-size: 15px;
  font-family: "NanumSquare", sans-serif;
  display: block;
  text-align: right;
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form #context {
  resize: none;
  padding: 5px;
  width: calc(100% - 10px);
  height: 300px;
  font-size: 15px;
  outline: none;
  border: 1px solid #999;
  font-family: "NanumSquare", sans-serif;
  line-height: 150%;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form #context::-moz-placeholder {
  font-family: "NanumSquare", sans-serif;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form #context::placeholder {
  font-family: "NanumSquare", sans-serif;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .btnWrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .btnWrap > button {
  border: none;
  background-color: #1e1c2b;
  color: #AAA;
  font-size: 15px;
  margin: 10px 0px 10px 10px;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
}
#container .subCont2 .center .subContentsWrap > div.postingWrap > form .btnWrap > button:hover {
  color: #FFF;
  background-color: #D35BF1;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap {
  border-width: 1px 0 0 0;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 10px;
  display: table;
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul {
  display: table-row-group;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul.boardTop {
  background-color: #CCC;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul.boardTop > li {
  border-color: #000;
  font-weight: 700;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul.boardMid {
  border-color: #CCC;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #CCC;
  letter-spacing: -1px;
  font-size: 15px;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li > a {
  color: #000;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li > a:hover {
  color: #D35BF1;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li.idx {
  width: 7%;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li.title {
  font-weight: 700;
  word-break: break-word;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li.author {
  width: 12%;
}
#container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li.date {
  width: 10%;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .writeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .writeBtn > a {
  border: 2px solid #AAA;
  background-color: #AAA;
  display: inline-block;
  font-size: 15px;
  padding: 7px 15px;
  font-weight: 700;
  transition: all 0.5s;
  color: #000;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .writeBtn > a:hover {
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form .searchWrap {
  position: relative;
  margin-bottom: 30px;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form .searchWrap > input {
  border: none;
  border-bottom: 1px solid #AAA;
  outline: none;
  width: 200px;
  height: 30px;
  font-size: 15px;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form .searchWrap > input:focus {
  border-bottom: 1px solid #000;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form .searchWrap > button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
}
#container .subCont2 .center .subContentsWrap > div .boardBot > form .searchWrap > button > span {
  font-size: 25px;
  color: #AAA;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap {
  text-align: center;
  margin: 0 0 50px;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap .pagination > li {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap .pagination > li > a {
  color: #888;
  font-size: 15px;
  line-height: 10px;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap .pagination > li.on {
  font-weight: 800;
}
#container .subCont2 .center .subContentsWrap > div .boardBot .paginationWrap .pagination > li.on > a {
  color: #000;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap > h4 {
  font-size: 1.6vw;
  background-color: #003ce2;
  text-align: center;
  word-break: keep-all;
  line-height: 400%;
  color: #FFF;
  margin-top: 1%;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap > h6 {
  width: 100%;
  margin: 0 auto;
  text-align: end;
  line-height: 200%;
  font-size: 1.2vw;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap .img_wrap {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1%;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap .img_wrap > img {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div.detail_wrap > pre {
  width: 100%;
  font-family: "NanumSquare", sans-serif;
  line-height: 200%;
  word-break: keep-all;
  text-align: left;
  font-size: 1.2vw;
  white-space: pre-wrap;
  margin-bottom: 1%;
  border-bottom: 1px solid #CCC;
}
#container .subCont2 .center .subContentsWrap > div.btn_wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 1%;
}
#container .subCont2 .center .subContentsWrap > div.btn_wrap > a {
  font-size: 1.2vw;
  background-color: #666;
  border: 1px solid #666;
  line-height: 280%;
  font-weight: 700;
  padding: 0 1vw;
  color: #FFF;
  margin-left: 1vw;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div.btn_wrap > a:hover {
  color: #000;
  background-color: rgba(102, 102, 102, 0);
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 60px;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2) {
  display: flex;
  align-items: center;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2)::before {
  width: 1px;
  height: 15px;
  background-color: #000;
  display: inline-block;
  content: "";
  margin: 0 40px;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2)::after {
  width: 1px;
  height: 15px;
  background-color: #000;
  display: inline-block;
  content: "";
  margin: 0 40px;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li > a {
  color: #000;
  position: relative;
  letter-spacing: 2px;
  font-weight: 700;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li > a:after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 4px;
  background: linear-gradient(to right, #1155FE, #D35BF1 85%);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li > a:hover:after {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div .PhotoMenus > li.on > a:after {
  width: 100%;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 130px;
  background-color: #FFF;
  position: relative;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all {
  display: flex;
  justify-content: center;
  margin: 1%;
  position: absolute;
  width: 31%;
  height: 260px;
  overflow: hidden;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all > img {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(1);
  left: 0;
  top: 0;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all .hoveredWrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all .hoveredWrap > a {
  color: #FFF;
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 1300%;
  position: relative;
  letter-spacing: 2px;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all .hoveredWrap > a > span {
  font-size: 15px;
  position: absolute;
  top: 49.5%;
  left: 125px;
  transform: translateY(-50%);
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all:hover > img {
  transform: scale(1.2);
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all:hover .hoveredWrap {
  top: 0%;
  left: 0;
  opacity: 1;
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap .all:hover .hoveredWrap:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5333333333));
}
#container .subCont2 .center .subContentsWrap > div .PhotoWrap.on {
  opacity: 1;
  transform: translateY(0px);
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #1e1c2b;
}
#footer .center {
  width: 1280px;
  color: #CCC;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 30px 0;
}
#footer .center .f_left {
  letter-spacing: 1px;
}
#footer .center .f_left > img {
  height: 50px;
  margin: 0px 0 30px;
  filter: brightness(0.8);
}
#footer .center .f_left > p {
  line-height: 30px;
}
#footer .center .f_right {
  letter-spacing: 5px;
}
#footer .center .f_right .sns_wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
#footer .center .f_right .sns_wrap > li > a {
  color: #CCC;
  margin-left: 15px;
  transition: all 0.5s;
}
#footer .center .f_right .sns_wrap > li > a > i {
  font-size: 30px;
}
#footer .center .f_right .sns_wrap > li:hover:nth-child(1) > a {
  color: #7c00cf;
}
#footer .center .f_right .sns_wrap > li:hover:nth-child(2) > a {
  color: #003ce2;
}
#footer .center .f_right .sns_wrap > li:hover:nth-child(3) > a {
  color: #e40000;
}
#footer .center .f_right .sns_wrap > li:hover:nth-child(4) > a {
  color: rgb(255, 207, 77);
}

.mGnbBg {
  display: none;
}

@media screen and (max-width: 1280px) {
  #header .center {
    width: 95%;
  }
  #header .center .gnbWrap {
    display: none;
  }
  #header .center .userGnb {
    display: flex;
    margin-right: 20px;
  }
  #header .center .userGnb > li {
    transition: all 0.5s;
  }
  #header .center .userGnb > li > a {
    display: none;
  }
  #header .center .userGnb > li .hbgMenu {
    display: block;
    margin-right: 0px;
    cursor: pointer;
    z-index: 99;
  }
  #header .center .userGnb > li .hbgMenu > .line {
    position: absolute;
    display: inline-block;
    background-color: #FFF;
  }
  #header .center .userGnb > li .hbgMenu > .line.one {
    top: 25%;
    transform: translate(-50%, -25%);
  }
  #header .center .userGnb > li .hbgMenu > .line.two {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .center .userGnb > li .hbgMenu > .line.three {
    top: 75%;
    transform: translate(-50%, -75%);
  }
  #header .center .userGnb > li .hbgMenu.clicked > .line {
    display: inline-block;
    background-color: #FFF;
  }
  #header .center .userGnb > li .hbgMenu.clicked > .line.one {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #header .center .userGnb > li .hbgMenu.clicked > .line.two {
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
  #header .center .userGnb > li .hbgMenu.clicked > .line.three {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  #container .subCont2 .center .subContentsWrap > div .newsWrap > ul > li.title {
    line-height: 200%;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoWrap .all {
    height: 220px;
  }
  #footer {
    width: 100%;
  }
  #footer .center {
    width: 88%;
  }
  .mGnbBg {
    display: block;
    right: -100vw;
    opacity: 0;
    z-index: -1;
    width: 200vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5333333333);
    transition: all 0.5s ease-in;
  }
  .mGnbBg.on {
    opacity: 1;
    z-index: 99;
    right: 0px;
  }
  .mGnbBg .mGnbWrap {
    position: absolute;
    background-color: #FFF;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 1s;
  }
  .mGnbBg .mGnbWrap .closeBtnWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu {
    display: block;
    margin-right: 20px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #333;
    border-radius: 8px;
    position: relative;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu > .line {
    background-color: #333;
    width: 70%;
    height: 5px;
    left: 50%;
    transition: all 1s;
    position: absolute;
    display: inline-block;
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu > .line.one {
    top: 25%;
    transform: translate(-50%, -25%);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu > .line.two {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu > .line.three {
    top: 75%;
    transform: translate(-50%, -75%);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu.clicked > .line.one {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu.clicked > .line.two {
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
  .mGnbBg .mGnbWrap .closeBtnWrap .hbgMenu.clicked > .line.three {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .mGnbBg .mGnbWrap .mGnb > li > a {
    display: flex;
    height: 45px;
    text-align: center;
    color: #333;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #888;
    padding-left: 20px;
    padding-right: 50px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a:hover {
    background: linear-gradient(to right, rgba(17, 85, 254, 0.5019607843), rgba(211, 91, 241, 0.5019607843) 70%);
    color: #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a:hover .onoff {
    border: 2px solid #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a:hover .onoff .line {
    background-color: #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a.clicked {
    background: linear-gradient(to right, rgba(17, 85, 254, 0.5019607843), rgba(211, 91, 241, 0.5019607843) 70%);
    color: #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a.clicked .onoff {
    border: 2px solid #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #666;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff .line {
    display: block;
    width: 13px;
    height: 2px;
    background-color: #666;
    position: absolute;
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff .line.one {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff .line.one.clicked {
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff .line.two {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li > a .onoff .line.two.clicked {
    background-color: #FFF;
    transform: translate(-50%) rotate(90deg);
    opacity: 0;
  }
  .mGnbBg .mGnbWrap .mGnb > li .sub {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li .sub > li {
    transition: all 0.5s;
  }
  .mGnbBg .mGnbWrap .mGnb > li .sub > li:hover {
    background: linear-gradient(to right, rgba(17, 85, 254, 0.5019607843), rgba(211, 91, 241, 0.5019607843) 70%);
  }
  .mGnbBg .mGnbWrap .mGnb > li .sub > li:hover > a {
    color: #FFF;
  }
  .mGnbBg .mGnbWrap .mGnb > li .sub > li > a {
    color: #333;
    display: block;
    padding: 9px 20px;
    font-size: 13px;
    font-weight: 15px;
  }
}
@media screen and (max-width: 1024px) {
  #container .subCont2 .center .subContentsWrap > div .PhotoWrap .all {
    height: 170px;
  }
  #footer .center {
    width: 88%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #footer .center > div {
    text-align: center;
  }
  #footer .center .f_right .sns_wrap {
    margin-bottom: 0px;
    margin: 30px 0;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  #container .subCont1 .center {
    width: 100%;
  }
  #container .subCont1 .center .subMenuWrap h2 {
    font-size: 8vw;
  }
  #container .subCont2 .center {
    width: 95%;
  }
  #container .subCont2 .center .subContentsWrap > h3 {
    font-size: 8vw;
  }
  #container .subCont2 .center .subContentsWrap > div .exhibitorsWrap {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #container .subCont1 {
    height: 280px;
  }
  #container .subCont1 .center .subMenuWrap > h2 {
    font-size: 9vw;
  }
  #container .subCont1 .center .subMenuWrap .subMenu > li > a {
    text-align: center;
    font-size: 11px;
    line-height: 400%;
  }
  #container .subCont2 .center .subContentsWrap > h3 {
    text-align: center;
    font-size: 9vw;
  }
  #container .subCont2 > div > div > div.mapsWrap > img {
    margin-bottom: 25px;
  }
  #container .subCont2 .center .subContentsWrap > div > h6 {
    text-align: center;
    font-size: 6vw;
  }
  #container .subCont2 .center .subContentsWrap > div > h4 {
    text-align: center;
    font-size: 8vw;
    line-height: 150%;
  }
  #container .subCont2 .center .subContentsWrap > div > p {
    font-size: 14px;
    line-height: 230%;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoWrap .all {
    height: 130px;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2) {
    display: flex;
    align-items: center;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2)::before {
    height: 2vw;
    margin: 0 20px;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoMenus > li:nth-child(2)::after {
    height: 2vw;
    margin: 0 20px;
  }
  #container .subCont2 .center .subContentsWrap > div .PhotoMenus > li > a {
    font-size: 1vw;
  }
}
@media screen and (max-width: 375px) {
  #container .subCont2 .center .subContentsWrap > div .PhotoWrap .all {
    height: 100px;
  }
}